/* CSS */

body {
  display: block;
  background-color: white;
  font-family:'Times New Roman', Times, serif;
  
}

.titlecolor {
  color: black;
}

.lettercolor {
  color: black;
  font-size: 25px;

}


#GRUPO_1 {
  height: 30%;
}

#borde {
  width: 200px;
  margin: 0 auto;
  border: 3px solid #000;
}
#borda{
  background-color: #5E809A;
}

.textalign {
  text-align: center;

}

a {

text-decoration: none;
}

.pad {
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}


.marg {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;

}
