/* CSS */

body {
  display:inline-block;
  background-color: white;
  font-family:'Franklin Gothic Medium';
  padding: 0px;
  margin: 0px;
  width: 100%;
  border-right-width: 0px;
  border-left-width: 0px;
}

.titlecolor {
  color: black;
}

.lettercolor {
  color: black;
  font-size: 25px;

}


#GRUPO_1 {
  height: 30%;
}

#borde {
  width: 200px;
  margin: 0 auto;
  border: 3px solid #000;
}
#borda{
  background-color: #5E809A;
}

.first-line{
  padding-left: 1em;
}

a {

text-decoration: none;
}

.pad {
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}


.marg {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;

}


.botton-group{
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.center{
  padding-bottom: 10px;
  margin: auto;
  width: 100%;
}

.botao{
  border: solid 1px black;
  border-radius: 20px;
  color: white;
  background-color: black;
  transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
}
.botao:hover{
  background-color: white;
  color: black;
  transform: scale(1.2)
}

.cor2 {
color:gray;
font-size: smaller;
}

.mar{
margin-bottom:0px;
}

.font2{
  font-size: large;
}

.mar2{
  margin-top: 10px;
  margin-bottom: 0px;
  }

  .margemgeral{
    margin-left: 90px;

  }
  
  .margemgeral1{
    margin-left: 90px;
    margin-right: 90px;
  }

  .borde{
    border-left: 3px solid black;
    padding-left: 14px;
    padding-right: 14px;
    width: 100%;
  }

  .borde2{
    background-color: #ebebeb;
    border-left: 3px solid #ebebeb;
    border-top: 3px solid #ebebeb;
    border-right: 3px solid #ebebeb;
    border-bottom: 3px solid #ebebeb;
    margin-right: 200px;
    padding-left: 14px;
    padding-right: 14px;
    width: 10%;
  border-radius: 10px;
  }

  .header {
    background-color: black;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
    flex-wrap: wrap;
    box-sizing: inherit;
  }

  .borde4{
    background-color: #ebebeb;
    border-left: 3px solid #ebebeb;
    border-top: 3px solid #ebebeb;
    border-right: 3px solid #ebebeb;
    border-bottom: 3px solid #ebebeb;
    width: 100%;
    margin-right: 200px;
    padding-left: 0px;
    padding-right: 0px;
  }


  .font2{

    font-family:'Times New Roman', Times, serif;
    color: gray;
  }
  .bt{
  width:32px; 
  height:32px;
  }
  .Btn {
    border: none;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: .4s;
    cursor: pointer;
    position: relative;
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
    overflow: hidden;
  }
  
  .svgIcon {
    transition-duration: .3s;
  }
  
  .svgIcon path {
    fill: white;
  }
  
  .text {
    position: absolute;
    color: rgb(255, 255, 255);
    width: 120px;
    font-weight: 600;
    opacity: 0;
    transition-duration: .4s;
  }
  
  .Btn:hover {
    width: 110px;
    transition-duration: .4s;
    border-radius: 30px;
  }
  
  .Btn:hover .text {
    opacity: 1;
    transition-duration: .4s;
  }
  
  .Btn:hover .svgIcon {
    opacity: 0;
    transition-duration: .3s;
  }


  .Btn11 {
    border: none;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: .4s;
    cursor: pointer;
    position: relative;
    background-color: rgb(31, 31, 31);
    overflow: hidden;
  }
  
  .svgIcon11 {
    transition-duration: .3s;
  }
  
  .svgIcon11 path {
    fill: white;
  }
  
  .text11 {
    position: absolute;
    color: rgb(255, 255, 255);
    width: 120px;
    font-weight: 600;
    opacity: 0;
    transition-duration: .4s;
  }
  
  .Btn11:hover {
    width: 110px;
    transition-duration: .4s;
    border-radius: 30px;
  }
  
  .Btn11:hover .text11 {
    opacity: 1;
    transition-duration: .4s;
  }
  
  .Btn11:hover .svgIcon11 {
    opacity: 0;
    transition-duration: .3s;
  }


  .Btn2 {
    width: 45px;
    height: 45px;
    /* border: none; */
    border-radius: 50%;
    background-color: #00acee;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    transition-duration: .5s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.137);
    border: 2px solid #bbecff;
  }
  
  .logoIcon2 {
    fill: white;
  }
  
  .tooltip2 {
    position: absolute;
    top: -20px;
    opacity: 0;
    background-color: #00acee;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: .2s;
    pointer-events: none;
    letter-spacing: 0.5px;
  }
  
  .tooltip2::before {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    background-color: #00acee;
    background-size: 1000%;
    background-position: center;
    transform: rotate(45deg);
    bottom: -20%;
    transition-duration: .3s;
  }
  
  .Btn2:hover .tooltip2 {
    top: -45px;
    opacity: 1;
    transition-duration: .3s;
  }
  
  .Btn2:hover {
    background-position: right;
    transition-duration: .5s;
  }

.yt874t{
  margin-bottom: 0px;
}

footer {
  background-color: rgb(63, 60, 60);
  height: 30px;
  color: white;
  align-items: center;
}

  /* body{
            margin: 100px;
        } */
        
.card {
  border-radius: 3px;
  box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 2px 4px;
  display: flex;
  flex-direction: column;
  transition: background 100ms ease-out 0s;
  position: static;
 
  /*  box-sizing: border-box; */
  text-decoration: none;
  cursor: pointer;
  overflow: hidden;
  height: 100%;
  font-size: 16px;
  color:black;
  line-height: 1.5;
}

.card img{
  align-self: center;
  /* position:relative; */
  width: fit-content;
  min-height: 50px;
  max-width: 70%;
  max-height: 170px;
  border-radius: 10px;
  padding: 10px;
}

.card.title {

  width: 100%;
  display: flex;
  padding: 8px 10px 6px;
  position: relative;

}

.card span{
  font-size: 12px;
  margin: 10px;
  padding: 5px;
}


.badges-content{
      position: relative;
      display: flex;
      overflow: hidden;
      align-items: center;
      border-radius: 5px;
      margin: 0px 6px 2px;
      padding: 0px 5px;
      font-size: 12px;
      min-height: 24px;
      white-space: nowrap;
      width: fit-content;

}

.badget{
      display: flex;
      align-items: center;
      flex-shrink: 0;
      min-width: 0px;
      max-width: 100%;
      height: 18px;
      border-radius: 3px;
      padding-left: 6px;
      padding-right: 6px;
      font-size: 12px;
      line-height: 120%;
      color: rgb(93, 23, 21);
      background: rgb(255, 226, 221);
      margin: 0px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
}




.cardBox {
  display:block;
  text-align: center;
  background-color: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
  max-width: 400px;
  max-height: fit-content;
}




.btn-card {
  background-color: black;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
}


.black-ground .cardBox {
  background-color: white;
  color: black;
}


.btn-card:hover {
  background-color: inherit;
  color: inherit;
}


.card-container {
  display: flex;
  gap: 20px;
  justify-content: left;
  align-items: center;
}


#logo {
  font-size: 1.7em;
}




section.cardBox {
  background-color: white;
  color: black;
}


.card-profile {
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
margin: auto;
text-align: center;
font-family: arial;
background-color: #fff;
border-radius: 8px;
padding: 20px;
max-width: inherit;
max-height: 300px;
}


.card-profile .title {
color: grey;
font-size: 18px;
}


.card-profile button {
border: none;
outline: 0;
display: inline-block;
padding: 8px;
color: white;
background-color: #000;
text-align: center;
cursor: pointer;
width: 100%;
font-size: 18px;
}


.card-profile a {
text-decoration: none;
font-size: 22px;
color: black;
}


.card-profile button:hover, a:hover {
opacity: 0.7;
}


.profile-photo {
  text-align: center;
  border-radius:8px;
  max-width:auto;
  max-height:auto;
}


#mural{
  padding-bottom: 80px;
}


#mural .wide.title{
margin-bottom: 50px;
}




.btn-card {
background-color: inherit;
color: #fff;
padding: 8px 16px;
border: none;
border-radius: 4px;
cursor: pointer;
font-weight: bold;
text-decoration: none;
}


.btn-card:hover {
background-color: lightsteelblue;
color: inherit;
}

