/* CSS */

body {
  display:inline-block;
  background-color: white;
  font-family:'Franklin Gothic Medium';
  padding: 0px;
  margin: 0px;
  width: 100%;
  border-right-width: 0px;
  border-left-width: 0px;
}

.titlecolor {
  color: black;
}

.lettercolor {
  color: black;
  font-size: 25px;

}


#GRUPO_1 {
  height: 30%;
}

#borde {
  width: 200px;
  margin: 0 auto;
  border: 3px solid #000;
}
#borda{
  background-color: #5E809A;
}

.first-line{
  padding-left: 1em;
}

a {

text-decoration: none;
}

.pad {
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}


.marg {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;

}


.botton-group{
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.center{
  padding-bottom: 10px;
  margin: auto;
  width: 100%;
}

.botao{
  border: solid 1px black;
  border-radius: 20px;
  color: white;
  background-color: black;
  transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
}
.botao:hover{
  background-color: white;
  color: black;
  transform: scale(1.2)
}

.cor2 {
color:gray;
font-size: smaller;
}

.mar{
margin-bottom:0px;
}

.font2{
  font-size: large;
}

.mar2{
  margin-top: 10px;
  margin-bottom: 0px;
  }

  .margemgeral{
    margin-left: 90px;

  }
  
  .margemgeral1{
    margin-left: 90px;
    margin-right: 90px;
  }

  .borde{
    border-left: 3px solid black;
    padding-left: 14px;
    padding-right: 14px;
    width: 100%;
  }

  .borde2{
    background-color: #ebebeb;
    border-left: 3px solid #ebebeb;
    border-top: 3px solid #ebebeb;
    border-right: 3px solid #ebebeb;
    border-bottom: 3px solid #ebebeb;
    margin-right: 200px;
    padding-left: 14px;
    padding-right: 14px;
    width: 10%;
  border-radius: 10px;
    height: 95px;
    display: flex;
    align-content: flex-end;
  }

  .header {
    background-color: black;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
    flex-wrap: wrap;
    box-sizing: inherit;
  }

  .borde4{
    background-color: #ebebeb;
    border-left: 3px solid #ebebeb;
    border-top: 3px solid #ebebeb;
    border-right: 3px solid #ebebeb;
    border-bottom: 3px solid #ebebeb;
    width: 100%;
    margin-right: 200px;
    padding-left: 0px;
    padding-right: 0px;
  }


  .font2{

    font-family:'Times New Roman', Times, serif;
    color: gray;
  }
  .bt{
  width:32px; 
  height:32px;
  }

.yt874t{
  margin-bottom: 20px;
}

footer {
  background-color: rgb(63, 60, 60);
  height: 30px;
  color: white;
  align-items: center;
}

  /* body{
            margin: 100px;
        } */
        
.card {
  border-radius: 3px;
  box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 2px 4px;
  display: flex;
  flex-direction: column;
  transition: background 100ms ease-out 0s;
  position: static;
 
  /*  box-sizing: border-box; */
  text-decoration: none;
  cursor: pointer;
  overflow: hidden;
  height: 100%;
  font-size: 16px;
  color:black;
  line-height: 1.5;
}

.card img{
  align-self: center;
  /* position:relative; */
  width: fit-content;
  min-height: 50px;
  max-width: 70%;
  max-height: 170px;
  border-radius: 10px;
  padding: 10px;
}

.card.title {

  width: 100%;
  display: flex;
  padding: 8px 10px 6px;
  position: relative;

}

.card span{
  font-size: 12px;
  margin: 10px;
  padding: 5px;
}


.badges-content{
      position: relative;
      display: flex;
      overflow: hidden;
      align-items: center;
      border-radius: 5px;
      margin: 0px 6px 2px;
      padding: 0px 5px;
      font-size: 12px;
      min-height: 24px;
      white-space: nowrap;
      width: fit-content;

}

.badget{
      display: flex;
      align-items: center;
      flex-shrink: 0;
      min-width: 0px;
      max-width: 100%;
      height: 18px;
      border-radius: 3px;
      padding-left: 6px;
      padding-right: 6px;
      font-size: 12px;
      line-height: 120%;
      color: rgb(93, 23, 21);
      background: rgb(255, 226, 221);
      margin: 0px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
}




.cardBox {
  display:block;
  text-align: center;
  background-color: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
  max-width: 400px;
  max-height: fit-content;
}




.btn-card {
  background-color: black;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
}


.black-ground .cardBox {
  background-color: white;
  color: black;
}


.btn-card:hover {
  background-color: inherit;
  color: inherit;
}


.card-container {
  display: flex;
  gap: 20px;
  justify-content: left;
  align-items: center;
}


#logo {
  font-size: 1.7em;
}




section.cardBox {
  background-color: white;
  color: black;
}


.card-profile {
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
margin: auto;
text-align: center;
font-family: arial;
background-color: #fff;
border-radius: 8px;
padding: 20px;
max-width: inherit;
max-height: 300px;
}


.card-profile .title {
color: grey;
font-size: 18px;
}


.card-profile button {
border: none;
outline: 0;
display: inline-block;
padding: 8px;
color: white;
background-color: #000;
text-align: center;
cursor: pointer;
width: 100%;
font-size: 18px;
}


.card-profile a {
text-decoration: none;
font-size: 22px;
color: black;
}


.card-profile button:hover, a:hover {
opacity: 0.7;
}


.profile-photo {
  text-align: center;
  border-radius:8px;
  max-width:auto;
  max-height:auto;
}


#mural{
  padding-bottom: 80px;
}


#mural .wide.title{
margin-bottom: 50px;
}

.main_back {
  position: absolute;
  border-radius: 10px;
  transform: rotate(90deg);
  width: 11em;
  height: 11em;
 background-color: white;
  z-index: -2;
  box-shadow: inset 0px 0px 180px 5px #ffffff;
}

.main {
  display: flex;
  flex-wrap: wrap;
  width: 14em;
  align-items: center;
  justify-content: center;
  z-index: -1;
}

.card {
  width: 60px;
  height: 60px;
  border-top-left-radius: 10px;
  background: lightgrey;
  transition: .4s ease-in-out, .2s background-color ease-in-out, .2s background-image ease-in-out;
  background: rgba(255, 255, 255, 0.596);
  backdrop-filter: blur(5px);
  border: 1px solid transparent;
  -webkit-backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.card .instagram {
  opacity: 0;
  transition: .2s ease-in-out;
  fill: #cc39a4;
}

.card:nth-child(2) {
  border-radius: 0px;
}

.card:nth-child(2) .twitter {
  opacity: 0;
  transition: .2s ease-in-out;
  fill: #03A9F4;
}

.card:nth-child(3) {
  border-top-right-radius: 10px;
  border-top-left-radius: 0px;
}

.card:nth-child(3) .dribble {
  opacity: 0;
  transition: .2s ease-in-out;
  fill: #ffb5d2;
}

.card:nth-child(4) {
  border-radius: 0px;
}

.card:nth-child(4) .codepen {
  opacity: 0;
  transition: .2s ease-in-out;
  fill: black;
}

.card:nth-child(5) {
  border-radius: 0px;
}

.card:nth-child(5) .uiverse {
  position: absolute;
  margin-left: 0.2em;
  margin-top: 0.2em;
  opacity: 0;
  transition: .2s ease-in-out;
}

.card:nth-child(6) {
  border-radius: 0px;
}

.card:nth-child(6) .discord {
  opacity: 0;
  transition: .2s ease-in-out;
  fill: #8c9eff;
}

.card:nth-child(7) {
  border-bottom-left-radius: 10px;
  border-top-left-radius: 0px;
}

.card:nth-child(7) .github {
  opacity: 0;
  transition: .2s ease-in-out;
  fill: black;
}

.card:nth-child(8) {
  border-radius: 0px;
}

.card:nth-child(8) .telegram {
  opacity: 0;
  transition: .2s ease-in-out;
  fill: #29b6f6;
}

.card:nth-child(9) {
  border-bottom-right-radius: 10px;
  border-top-left-radius: 0px;
}

.card:nth-child(9) .reddit {
  opacity: 0;
  transition: .2s ease-in-out;
}

.main:hover {
  width: 14em;
  cursor: pointer;
}

.main:hover .main_back {
  opacity: 0;
}

.main:hover .card {
  margin: .2em;
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.2);
}

.main:hover .card:nth-child(5) {
  border: transparent;
}

.main:hover .text {
  opacity: 0;
  z-index: -3;
}

.main:hover .instagram {
  opacity: 1;
}

.main:hover .twitter {
  opacity: 1;
}

.main:hover .dribble {
  opacity: 1;
}

.main:hover .codepen {
  opacity: 1;
}

.main:hover .uiverse {
  opacity: 1;
}

.main:hover .discord {
  opacity: 1;
}

.main:hover .github {
  opacity: 1;
}

.main:hover .telegram {
  opacity: 1;
}

.main:hover .reddit {
  opacity: 1;
}

.card:nth-child(1):hover {
  background-color: #cc39a4;
}

.card:nth-child(1):hover .instagram {
  fill: white;
}

.card:nth-child(2):hover {
  background-color: #03A9F4;
}

.card:nth-child(2):hover .twitter {
  fill: white;
}

.card:nth-child(3):hover {
  background-color: #ffb5d2;
}

.card:nth-child(3):hover .dribble {
  fill: white;
}

.card:nth-child(4):hover {
  background-color: #1E1F26;
}

.card:nth-child(4):hover .codepen {
  fill: white;
}

.card:nth-child(5):hover {
  animation: backgroundIMG .1s;
  animation-fill-mode: forwards;
}

.card:nth-child(5):hover .uiverse #paint0_linear_501_142 stop {
  stop-color: white;
}

.card:nth-child(5):hover .uiverse #paint1_linear_501_142 stop {
  stop-color: white;
}

.card:nth-child(5):hover .uiverse #paint2_linear_501_142 stop {
  stop-color: white;
}

@keyframes backgroundIMG {
  100% {
    background-image: linear-gradient(#BF66FF,#6248FF,#00DDEB);
  }
}

.card:nth-child(6):hover {
  background-color: #8c9eff;
}

.card:nth-child(6):hover .discord {
  fill: white;
}

.card:nth-child(7):hover {
  background-color: black;
}

.card:nth-child(7):hover .github {
  fill: white;
}

.card:nth-child(8):hover {
  background-color: #29b6f6;
}

.card:nth-child(8):hover .telegram > path:nth-of-type(1) {
  fill: white;
}

.card:nth-child(8):hover .telegram > path:nth-of-type(2) {
  fill: #29b6f6;
}

.card:nth-child(8):hover .telegram > path:nth-of-type(3) {
  fill: #29b6f6;
}

.card:nth-child(9):hover {
  background-color: rgb(255,69,0);
}

.card:nth-child(9) .reddit > g circle {
  fill: rgb(255,69,0);
}

.card:nth-child(9) .reddit > g path {
  fill: white;
}

.text {
  position: absolute;
  font-size: 0.7em;
  transition: .4s ease-in-out;
  color: black;
  text-align: center;
  font-weight: bold;
  letter-spacing: 0.33em;
  z-index: 3;
}
